<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.CategoryMapper">
	<select id="selectCategory" resultType="org.zerock.domain.Category">
		SELECT * FROM category ORDER BY code ASC
	</select>
</mapper>
