<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BookMapper">
	<insert id="insertBook">
		INSERT INTO book(isbn)
		VALUES
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.isbn})
		</foreach>

	</insert>
</mapper>
